/* CODE CSS CHUNG */

:root {
    --primary-color: #ee4d2d;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --footer-bottom-color: #565656;
    --navbar-height: 48px;
    --header-height: 140px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* mặc định thành 10px và khi dùng rem kế thừa lại 10px và 1rem=10px, 1.2rem=12px... */
    line-height: 1.6rem;
    /* 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Reponsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* test reponsive */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}


/* ANIMATION */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* MODAL */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.2s;
}


/* BUTTON STYLES */

.btn {
    min-width: 60px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--while-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}


/* Slectison */

.select-input {
    background-color: var(--while-color);
    min-width: 200px;
    position: relative;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__label-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input-list {
    display: block;
}

.select-input-list {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    background-color: var(--while-color);
    padding-left: 0;
    border-radius: 2px;
    padding: 16px 16px;
    display: none;
    z-index: 1;
}

.select-input-list::after {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    height: 20px;
    width: 100%;
}

.select-input-item {
    list-style: none;
}

.select-input-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
}

.select-input-link:hover {
    color: var(--primary-color);
}


/* Pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f35c3d;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    text-align: center;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}


/* Footer bottom */

.footer__bottom-shared {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__bottom-wrap {
    font-size: 1.2rem;
    margin-top: 5px;
    color: var(--footer-bottom-color)
}