.header {
    height: var(--header-height);
    background-image: linear-gradient(180deg, #f53e2d,#ee4d2d );
    
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding: 0;
    list-style: none;
    display: flex;
}

.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    color: var(--while-color);
    font-size:1.4rem;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-item-icon:hover 
{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    z-index: 1;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu  {
    display: block;
}

.header__navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 450;
    margin-left: 6px;
}

.header__navbar-user-menu {
    position: absolute;
    top:calc(100% + 5px );
    right:0;
    width: 160px;
    background-color: var(--while-color);
    border-radius: 2px;
    padding-left: 0;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 3.123rem 0 rgb(0 0 0 / 20%);
    display: none;
    transform-origin: calc(100% - 30px) top;
    animation: headerNotify ease-in 0.4s; 
    -webkit-animation: headerNotify ease-in 0.2s;
    will-change: transform, opacity;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    top: -18%;
    right: 19px;
    border-width: 13px 18px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -12%;
    right: 0;
    width: 68%;
    height: 20px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid #e0e0e0;
}

.header__navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 13px 16px;
    font-weight: 400;
}

.header__navbar-user-item:hover a {
    background-color: #F8F8F8;
}

/* hover qr */
.header__navbar-item--qr:hover .header__qr {
    display: block;
} 
/* hover notify */
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item-icon-link {
    text-decoration: none;
    color: var(--while-color);
}

.header__navbar-item-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-item-icon {
    margin: 0 5px;
    font-size: 1.8rem;
}

.header__navbar-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086 ;
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item-strong {
    font-weight: 600;
}

.header__navbar--pointer-text {
    cursor: text;
    color: var(--while-color);
}

/* QR */
.header__qr {
    position: absolute;
    left: 0;
    top: 160%;
    background-color: var(--while-color);
    width: 186px;
    border-radius: 2px;
    padding: 2px;
    display: none;
    animation: fadeIn ease-in 0.7s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content:"";
    width: 100%;
    height: 18px;
    position: absolute;
    left: 0;
    top: -16px;
}
.header__qr-link {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-download {
    margin-top: 4px;
}
.header__qr-download--img {
    height: 17px;
}

.header__qr-download:nth-child(1) {
    margin-left: 11px;
}

.header__qr-download:nth-child(2) {
    margin-right: 11px;
}

/* NOTIFYTION */

.header__notify {
    position: absolute;
    top: 127%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    background-color: var(--while-color);
    border: 1px solid #e7e7e7;
    cursor: default;
    transform-origin: calc(100% - 30px) top;
    animation: headerNotify ease-in 0.2s; 
    -webkit-animation: headerNotify ease-in 0.2s;
    will-change: transform, opacity;
    display: none;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -22px;
    right: 13px;
    border-width: 13px 18px ;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}

.header__notify::after {
    content: "";
    position: absolute;
    top: -23px;
    right: -1px;
    width: 90px;
    height: 28px;
    display: block;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--while-color);
    user-select: none;
}

.header__notify-header h3 {
    line-height: 40px;
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
}

.header__notify-list {
    padding: 0;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img {
    width: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 6px 0;
    color: #756F6E; 
}


.header__notify-footer-btn {
    display : block;
    width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

/*  Authen Form */

.auth-form {
    width: 500px;
    background-color: var(--while-color);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.auth-form__container {
    padding: 10px 40px;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    margin-top: 16px;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none ;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 26px;
}

.auth-form__policy-text {
    padding: 0 12px;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls-back {
    background-color: var(--while-color);
}

/* SOCIALS */
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.auth-form__socials--icon {
    font-size: 1.8rem;
}

.auth-form__socials--icon-facebook {
    color: var(--while-color);
    background-color: #3A5A98;
}

.auth-form__socials--icon-google {
    background-color: var(--while-color);
    color: var(--text-color);
}

.auth-form__socials--icon 
.auth-form__socials--icon-facebook {
    color: var(--while-color);
}

.auth-form__socials--title {
    line-height: 1.4rem;
    text-align: center;
    margin: 0 32px;
}
/* Login */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help--link-forget {
    color: var(--primary-color);
}
.auth-form__help-separate{
    display: block;
    height: 24px;
    border-left: 1px solid #EAEAEA;
    margin: -3px 12px 0;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 196px;
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
    margin-bottom: 11px;
}
/* headerSearch */
.header__search {
    flex:1;
    height: 41px;
    background-color: var(--while-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height:100%;
    border: none;
    padding: 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    position: absolute;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-input:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__search-history {
    background-color: var(--while-color);
    position: absolute;
    top: calc(100% + 4px);
    width: calc(100% - 12px);
    border-radius: 2px;
    box-shadow: 0 0 6px #999;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.5rem;
    font-weight:400;
    color: #999;
    margin: 2px 0 0 12px;
    line-height: 36px;
}

.header__search-history-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-item {
    line-height: 36px;
    padding: 0 0 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-btn--search {
    border: none;
    outline: none;
    margin: 3px;
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 11px 24px;
}

.header__search-btn--search:hover {
    background-color: #fb6445 ;
    cursor: pointer;
}

.header__search-btn--search-icon {
    font-size: 1.6rem;
    color: var(--while-color);
}

.header__cart {
    width: 147px;
    text-align: center;
    cursor: pointer;
}

.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    margin-top: 4px;
    font-size: 2.6rem;
    color: var(--while-color);
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -11px;
    color: var(--primary-color);
    border: 2px solid #ee4d2d;
    padding: 2px 8px 2px 8px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.4rem;
    border-radius: 12px;
    background-color: var(--while-color);
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.header__cart-list {
    position: absolute;
    top: 130%;
    right: -5px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.123rem 0 rgb(0 0 0 / 20%);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.4s; 
    -webkit-animation: headerNotify ease-in 0.4s;
    will-change: transform, opacity;
    cursor: default;
    display: none;
    z-index: 1;

}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}

.header__cart-list--no-cart {
    padding-top: 28px;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
}

.header__cart--no-cart-img {
    width: 52%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 14px 0 60px 0;
}

/* co san pham */
.header__cart-heading {
    text-align: left;
    margin: 14px 0 0 12px;
    font-size: 1.5rem;
    color: #999;
    font-weight: 400;
    cursor: default;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    cursor: default;
    height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-item-img {
    width: 41px;
    height: 40px;
    margin: 12px;
    border: 1px solid #D3D3D3;
}

.header__cart-item-info {
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    flex: 1;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    line-height:2rem;
    overflow: hidden;
    max-height: 4rem;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-mutifly {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #999;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 500;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 12px;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}
/* Container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

/* Category */

.category {
    background-color: var(--while-color);
    border-radius: 2px;
}

.category__heading {
    padding: 12px 12px;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    margin-left: 6px;
}

.category-item--active .category-item__Link{
    color: var(--primary-color);
}

.category-item--active .category-item__Link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform:translateY(calc(-50% - 1px)) 
}

.category-item__Link {
    position: relative;
    right: 0;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__Link:hover {
    color: var(--primary-color);
    right: -4px;
}
/* Home sort + filter */
.home-filter {
    background-color: rgba(0,0,0,0.04);
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.home-filter__labdel {
    font-size: 1.4rem;
    margin: 0 16px 0 12px;
    color: #555;
}

.home-filter-btn {
    margin-right: 12px;
    min-width: 100px;
    color: var(--text-color);
}   

.home-filter-btn:hover {
    background-color: rgba(255,255,255,0.4);
}
.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    margin-right: 12px;
    font-size: 1.4rem;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    background-color: var(--while-color);
    width: 72px;
    height: 36px;
    display: flex;
}

.home-filter__page-btn {
    flex: 1;
    width: 36px;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn-disable {
    background-color:#f9f9f9;
    cursor: default;
}

.home-filter__page-btn-disable .home-filter__page-btn-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
/* Home product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--while-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform ease-in 0.1s;
    will-change: transform;
    padding-bottom: 6px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 10px 6px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 12px 10px;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like .home-product-item__like-icon-fill {
    color: #f53e2d;    
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star-gold {
    color: #ffce3d;
}

.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    color: #595959;
    font-weight: 300;
    font-size: 1.3rem;

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content:"";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor; 
    border-left: 3px solid transparent; 
}

.home-product-item__favourite i {
    color: var(--while-color);
    margin: 0 2px 0 5px;
    font-size: 0.9rem;
}

.home-product-item__favourite span {
    color: var(--while-color);
}

.home-product-item__sale-off {
    position:absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255,216,64,0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    color: #EE4D2D;
    position: relative;
    top: 4px;
    left: 2px;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    color: var(--while-color);
    position: relative;
    bottom: -4px;
}

.home-product-pagination {
    margin: 48px 0 32px 0;
    width: 958.325px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 50px;
}

.footer__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: block;
    padding: 8px 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(155 155 155);
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link-icon {
    font-size: 1.6rem;
    margin-top: -2px;
    margin-right: 8px;
    color: #4a4a4a;
}

.footer__dowload {
    display: flex;
}

.footer__dowload-qr {
    width: 86px;
    height: 86px;
    border: 1px solid var(--border-color);
}

.footer__dowload-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.footer__dowload-app {
    text-decoration: none;
}

.footer__dowload-app-img {
    height: 20px;
}
/* Footer bottom */
.footer__bottom {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 8px 0;
}

.footer__bottom-certification {
    display: flex;
}

.footer__bottom-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4bdefde103e8aa245cd17511adde9f89.png);
    margin: 5px 20px;
}

.footer-vn-vn_registered_red-png {
    background-size: 617.5% 393.3333333333333%;
    background-position: 34.13848631239936% 84.0909090909091%;
}

.footer__bottom-icon1 {
    width: 120px;
    height: 45px;
}

.footer-vn-vn_no_fake_item-png {
    background-size: 1543.75% 368.75%;
    background-position: 100% 35.65891472868217%;
}

.footer__bottom-icon2 {
    width: 50px;
    height: 50px;
}

.footer__bottom-introduce-item {
    margin: 40px 0;
    padding: 0 15px 0 15px ;
    border-right: 1px solid rgba(0,0,0,.09);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.footer__bottom-introduce-item:last-child {
    border: 0;
}

.footer__bottom-introduce-link {
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footer__bottom-certification {
    display: flex;
    justify-content:center;
    width: 100%;
}

.footer__bottom-company {
    font-size: 1.3rem;
    color: var(--footer-bottom-color);
    margin: 3px 0 20px 0;
}

.footer__bottom-copyright {
    font-size: 1.2rem;
    margin: 10px 0 30px 0;
    color: var(--footer-bottom-color)
}

/* Page link */
.page_list {
    display: flex;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.page_list-link {
    text-decoration: none;
    color: #6c7175;
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 700;
}

.product__detail {
    background-color: var(--while-color);
    height: 600px;
    margin-top: 12px;
}

.product__detail-img-big {
    width: 400px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__detail-list {
    list-style: none;
    width: 400px;
    height: calc(100% - 440px);
    padding:0;
    margin: 0;
    display: flex;
    overflow-y: auto;
    justify-content: space-around;
}

.product__detail-img-small {
    height: 80%;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 7px 0 0 0;
}

.product__detail-img-small:hover {
    cursor: pointer;
    border: 1px solid red;
}

/* column 6 */
.product__detail-name {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 2.5rem;
}

.product__rating-item {
    font-size: 2rem;
    transform: scale(0.8);
    /* transform-origin: right; */
    color: #666;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.product__detail-price {
    background-color: #fafafa;
    padding: 20px; 
}

.product__detail-price-old {
    font-size: 2.5rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 15px;
}

.product__detail-price-current {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.product__detail-description {
    margin-bottom: 20px;
}

.product__detail-description-heading {
    color: var(--text-primary);
    font-size: 2rem;
}

.product__detail-description-msg{
    font-size: 1.6rem;
    color: #757575;
    display: block;
    line-height: 1.8rem;
    margin-left: 22px;
    margin-top: 10px;
}

.product__detail-properties input {
    font-size: 2rem;
    width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
}

.btn.btn-mua {
    width: 180px;
    height: 47px;
    background-color: var(--primary-color);
    color: var(--while-color);
    margin: 45px 0 0 0px;
}

.btn.btn-mua:hover {
    background-color: #eb694f;
}




/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color:#f35c3d ;
} 

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    text-align: center;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}
/* Footer bottom */
.footer__bottom-shared {
    display: flex;
    justify-content:center;
    width: 100%;
}

.footer__bottom-wrap {
    font-size: 1.2rem;
    margin-top: 5px;
    color: var(--footer-bottom-color)
}

/* file base mà bị lỗi nên để đây  */
.grid__column-4 {
    padding: 20px 20px 10px 20px;
    width: 36%;
}

.grid__column-6 {
    padding: 20px 20px 10px 20px;
    width: 64%;
}


/* Product detail  */
.detail__heading {
    color: #757575;
    font-size: 1.6rem;
    width: 120px;
}

.product__detail-properties {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.product__detail-btn-wrap {
    margin: 10px 0 0 20px;
    width: 470px;
}

.btn-detail {
    font-size: 1.6rem;
    cursor: pointer;
    min-width: 5rem;
    min-height: 2.125rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.8rem 5rem;
    margin: 0 8px 8px 0;
    color: rgba(0,0,0,.8);
    text-align: left;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    background: #fff;
    outline: 0;
    word-break: break-word;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-detail:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* Oder */
.oder__form {
    width: 100%;
}
.oder__address {
    width: 100%;
    padding: 26px 0 20px 26px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 15px;
}
.oder__address-heading {
    margin-bottom: 10px;
}
.oder__address-heading-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    position: relative;
    top: -2px;
}
.oder__address-heading-msg {
    margin-left: 3px;
    font-size: 2rem;
    color: var(--primary-color);
}
.order__address-body{
    display: flex;    
    margin-top: 20px;
}
.oder__address-name {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 6px;
    font-weight: 600;
}
.oder__address-phone {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 6px;
    font-weight: 600;
}
.oder__address-specific {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 15px;
}
.oder__address-border--top {
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(
    45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
.order__product {
    width: 100%;
    padding: 26px 0 20px 26px;
    background-color: #fff;
    border-radius: 2px;
    height: 457px;
    position: relative;
}
.order__product-header {
    display: flex;
}
.order__product-header span:nth-child(1){
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 10px;
    justify-content: flex-start;
    text-align: left;
    flex: 2;
}
.order__product-header span {
    color: #bbb;
    font-size: 1.4rem;
    flex:1
}
.order__product-bonus {
    padding: 10px 0;
}
.order__product-bonus-icon1 {
    font-size: 1.4rem;
    color: var;
    color: #7c7c7c;
    margin-right: 5px;
}
.order__product-bonus-icon2 {
    font-size: 1.4rem;
    color: var;
    color: #00bfa5;
    margin: 0 5px 0 10px;
}
.order__product-bonus-shop{
    font-size: 1.4rem;
    color: var(--text-color);
    border-right: 1px solid #eaeaea;
    padding-right: 10px;
}
.order__product-bonus-chat{
    font-size: 1.4rem;
    color: #00bfa5;
    font-weight: 500;
}
.order__product-detail {
    display: flex;
    padding: 15px 0;
}
.order__product-detail-wrap {
    flex: 2;
    justify-content: flex-start;
    display: flex;
}
.order__product-detail-msg {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.order__product-detail-submsg {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    color: var(--text-color);
}
.order__product-detail-color,
.order__product-detail-size,
.order__product-detail-price,
.order__product-detail-quantity {
    flex: 1;
    color: var(--text-color);
    font-size: 1.4rem;
    padding-top: 11px;
}
.order__product-ship {
    display: flex;
    display: flex;
    background-color: #fafdff;
    min-width: 0;
    min-height: 0;
    border-bottom: 1px dashed rgba(0,0,0,.09);
    border-top: 1px dashed rgba(0,0,0,.09);
    margin-top: 30px;
    height:80px;
}
.order__product-ship-head {
    flex: 4;
    display: flex;
    align-items: center;
}
.order__product-ship-msg {
    padding: 0 10px 0px 20px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.order__product-ship-import {
    margin-left: 15px;
    margin-bottom: 0;
    flex: 1;
    font-size: 12px;
    font-weight: 300;
}
.order__product-ship-contain {
    display: flex;
    align-items: center;
    border-radius: 2px;
    height: 40px;
}
.order__product-ship-input {
    border: 1px solid #ccc;
    padding: 4px 12px;
    width: 100%;
    height: 40px;
    outline: none;
}
.order__product-ship-option {
    flex: 6;
}
.order__product-ship-option {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.order__product-ship-option-voicher-icon {
    font-size: 1.8rem ;
    color: var(--primary-color);
    padding-right: 5px;
}
.order__product-ship-option-voicher-msg {
    font-size: 2rem;
    color: var(--text-color);
}
.order__product-ship-option-coin-icon {
    font-size: 1.8rem ;
    color: rgb(255, 166, 0);
    padding-right: 5px;
}
.order__product-ship-option-coin-msg {
    font-size: 2rem;
    color: var(--text-color);
}
.order__product-ship-option-fast-icon {
    font-size: 1.8rem ;
    color: #00bfa5;
    padding-right: 5px;
}
.order__product-ship-option-fast-msg {
    font-size: 2rem;
    color: #00bfa5;
}
.order__product-pay {
    position: absolute;
    bottom: 23px;
    right: 23px;
}
.order__product-pay-msg {
    color: #bbb;
    font-size: 1.6rem;
    margin-right: 5px;
}
.order__product-pay-money {
    font-size: 2.6rem;
    color: var(--primary-color);
}
.btn.btn-cart {
    background-color: var(--primary-color);
    float: right;
    color: var(--while-color);
    margin: 28px 0px;
    font-size: 2rem;
}
.btn.btn-cart:hover {
    background-color: #f56c51;
}