#btnClick {
    padding: 5px 50px;
    margin: 41px 123px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #2d9c2c;
    color: #2d9c2c;
}

#btnClick:hover {
    color: white;
    background-color: #2d9c2c;
}

.action-btn .forgot {
    margin-bottom: 100 px;
    padding-left: 170 px;
    font-size: 14px;
}

.custom-acc-page .page-header span {
    color: rgb(24, 23, 23);
    font-size: 14px;
}

.custom-acc-page .page-header {
    margin-bottom: 30px;
}

#form-avatar {
    padding: 50px;
    font-size: 16px;
}

#validate_form .error{
    color: red;
    font-size: 12px;
    padding: 10px 0px
}