body {
    font-size: 12px;
    margin: 0 auto;
    padding: 0px;
    background: #fff;
    color: #000;
    font-family: 'Arimo', sans-serif;
    /* position: relative; */
}

ul {
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header_top .container .wrapper_header_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header_top .container .wrapper_header_top .header_right a {
    text-decoration: none;
}

.wrapper_header_top .header-text,
.wrapper_header_top .header_right a {
    color: #959595;
}

.header_left {
    width: 34%;
}

.header_right {
    width: 66%;
}

a {
    text-decoration: none;
}

.header_right .header-a {
    float: right;
    padding-left: 15px;
}

.header_bottom {
    width: 100%;
    height: 90px;
    background-color: #2a5ee1;
}

.header_bottom .header-2-a img {
    max-height: 46px;
    margin-top: 20px;
    width: 100px;
}

.header_bottom form {
    padding-top: 25px;
}

.header_bottom form .text {
    padding: 12px 15px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    width: 400px;
}

.header_bottom form .button {
    padding: 12px 10px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    background: #fce750;
    color: #4d4c4c;
    font-weight: 700;
    margin-left: -4px;
}


/* :start menu */

.header-menu,
.wrap_navrbar {
    background: #326ee9;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.pdnvar {
    padding: 0 20px;
}


/* :end menu */

.next_prev-groups {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.next_prev-groups .breadcrumb-content ul li {
    display: inline-block;
    margin-right: 9px;
}

.next_prev-groups .breadcrumb-content ul li a {
    color: #6c7175;
    text-decoration: none;
    font-weight: 700;
}

.next_prev-groups .breadcrumb-content ul li a:hover {
    color: blue;
}

.slideshow {
    background-image: url("../Images/top.webp");
    min-height: 280px;
    width: 100%;
    background-size: 100%;
}


/* ==========================***************================ */

.block-text-banner .title-text {
    width: 350px;
    height: 160px;
    padding-top: 60px;
    float: left;
}

.block-text-banner .title-text h3 {
    font-size: 22px;
}

.block-text-banner .title-text span a {
    text-decoration: none;
}

.block-text-banner .item .item-dt {
    padding-top: 45px;
    float: left;
    margin-top: 14px;
    padding-left: 40px;
    height: 200px;
}

.block-text-banner .item .item-dt img {
    width: auto;
    height: auto;
    padding: 40 45;
}

.block-text-banner .item .item-dt a {
    text-decoration: none;
}

.block-text-banner .item .item-dt a .item-border {
    width: 120px;
    height: 120px;
}

.block-text-banner .item .item-dt a .text span {
    padding: 17px;
    padding-top: 5px;
    display: block;
}

.block-text-banner .text-right .background {
    background-color: rgb(54, 18, 216);
    width: 143px;
    height: 44px;
    float: right;
    margin-top: 87px;
    border-radius: 3px;
}

.block-text-banner .text-right .background div {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.block-text-banner .text-right .background div:hover {
    background: #f16100;
}

.block-text-banner .text-right .background div span {
    padding: 0px 20px;
    line-height: 44px;
}

.block-text-banner .a3 a .item-border img {
    padding: 40px 30px;
}

.block-text-banner .a4 a .item-border img {
    padding: 40px 40px;
}

.block-text-banner .a1 {
    margin: 10px 6px;
}

.block-text-banner .text.a2 {
    margin: 10px 19px;
}

.block-text-banner .item .item-dt.a1 {
    padding-left: 0px;
}

.block-text-banner .item .item-dt a .text span {
    font-size: 13px;
    font-weight: 600;
    color: rgb(66, 59, 59);
}

.block-text-banner .item .item-dt a .text span:hover {
    color: blue;
}

.block-text-banner .item .item-dt img:hover {
    border: 1px solid rgb(143, 115, 115);
    background: rgb(235, 233, 233);
}

.block-text-banner .item .item-dt img {
    border-radius: 3px;
    border: 1px solid #c3b7b7;
}


/* ==========================***************================ */


/* <!-- Start block banner  --> */

.block_banner .container .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.block_banner .dear-sp-dt {
    width: 33.333%;
}

.block_banner .dear-sp-dt a {
    padding: 15px;
    display: block;
}

.block_banner .dear-sp-dt img {
    width: 100%;
}


/* <!-- end block_banner --> */


/* * <!-- Start block banner_1  --> */

.block_banner_1 .container .item_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}

.block_banner_1 .container .item_1 .sp {
    width: 50%;
}


/* * <!-- end block banner_1  --> */


/* <!-- start block_banner 2--> */

.block_banner_2 .container .item_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
}

.block_banner_2 .container .item_2 .sp {
    width: 33.3333%;
}


/* end block_baner_2 */


/* <!-- start home-custom-block-hot  --> */


/* widget-title and content_block */

#block-hot-1569817287681 {
    background: #f6f8fa;
}

.home-custom-block-hot .container .widget-title div h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}

.home-custom-block-hot .container .widget-title div p {
    text-align: center;
    padding-bottom: 30;
}

.content_block .content_img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content_block .content_img .sp_content {
    width: 33.3333%
}


/* content_group */

.home-custom-block-hot .content_group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.content_group .content-box h3 {
    font-size: 22px;
}

.home-custom-block-hot .content_group .group {
    width: 33.3333%;
}

.home-custom-block-hot .content_group .content-box {
    float: left;
}

.home-custom-block-hot .content_group .action-link {
    float: left;
    padding: 30px 30px;
}

.home-custom-block-hot .content_group .action-link a {
    text-decoration: none;
    border: 1px solid rgb(194, 168, 168);
    padding: 10px;
    color: rgb(45, 41, 41);
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.home-custom-block-hot .content_group .action-link a:hover {
    color: white;
    background: rgb(255, 186, 0);
}


/* <!-- end home-custom-block-hot  --> */


/* <!-- start hompage-category --> */

.hompage-category {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px
}

.hompage-category .container .section-inner .section-title h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(77, 75, 75);
    padding: 40px 0px;
}

.hompage-category .container .section-inner .section-title a {
    float: right;
    font-size: 12;
    text-decoration: none;
    padding: 10px 30px;
}

.hompage-category .container .widget-content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.hompage-category .container .widget-content .category-item {
    width: 20%;
}

.hompage-category .container .widget-content .category-item .contenr ul {
    list-style-type: none;
}

.hompage-category .container .widget-content .category-item .contenr ul li a {
    text-decoration: none;
    color: rgb(90, 79, 79);
}

.hompage-category .container .widget-content .category-item .contenr ul li {
    padding: 5px 0px;
}

.hompage-category .container .widget-content .category-item .contenr ul li a:hover {
    color: blue;
}

.hompage-category .container .widget-content .category-item .contenr ul li:last-child {
    font-size: 14px;
    font-weight: 600;
}


/* <!-- end hompage-category --> */


/* <!-- start brands-block --> */

.shopify-section-home-brands .home-brands-block {
    margin: 50px 0px;
}

.shopify-section-home-brands .home-brands-block .brands_block .slick-track {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.shopify-section-home-brands .home-brands-block .brands_block .slick-track .item {
    width: 16.66666%;
}


/* <!--  :end brands-block --> */


/* <!-- start shopify-section --> */

.shopify-section {
    background: #282828;
}

.shopify-section .site-footer .footer-top .footer_info {
    border-bottom: 1px solid #f1eaea;
}

.shopify-section .site-footer .footer-top .footer_info p {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding: 40px 0px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row {
    max-width: 66.66666%;
    display: flex;
    flex-wrap: nowrap;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer {
    max-width: 16.6666%;
    padding: 30px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer .footer-title {
    color: white;
    font-size: 16px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer ul {
    list-style-type: none;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer ul li a:hover {
    color: blue;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .row .col-footer ul li {
    padding: 5px 0px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 {
    max-width: 44.444%;
    padding: 20px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter h3 {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter p {
    color: white;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter .block-content form {
    padding: 20px 0px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter .block-content form .email {
    min-width: 250px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 13px 15px 12px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter .block-content form .submit {
    min-width: 90px;
    max-width: 95px;
    background: #2a5ee1;
    color: #fff;
    border-radius: 0px 3px 3px 0px;
    text-transform: capitalize;
    padding: 13px 15px 12px;
    margin-left: -4px;
    border: 1px;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter .block-content form .submit:hover {
    background: #fce750;
    color: rgb(75, 70, 70);
    font-weight: 700;
}

.shopify-section .site-footer .footer-top .row.footer-link .col-12 .col-13 .footer-newsletter .block-content .carousel_boton {
    margin-left: auto;
    margin-right: auto;
}


/* <!-- end shopify-section --> */

.container .end .gmail {
    padding-bottom: 10px
}

.container .end .name p {
    margin: 9px 0px;
}


/* end end end */


/* start appliances */


/* :start shopify-section */


/* .halo-collection-content .wrapper-content .section_1 .sidebar{
    max-width: 200px;
}
.halo-collection-content .wrapper-content .section_1 .widget{
    background: white;
    border:1px solid #ccc;
    margin-bottom: 40px;
}
.halo-collection-content .wrapper-content .section_1 .widget .widget-title .sidebar-title{
    padding: 11px 15px 9px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    color: #2d2d2d;
    border-bottom: 1px solid #eaeaea;
    margin: 0;
}
.halo-collection-content .wrapper-content .section_1 .widget .widget-content ul{
    list-style-type: none;
}
.halo-collection-content .wrapper-content .section_1 .widget .widget-content ul .sidebar-link-lv1{
    border-bottom: 1px solid #ccc;
}

.halo-collection-content .wrapper-content .section_1 .widget .widget-content ul .sidebar-link-lv1  a{
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    color: #4f4c4c;
    padding: 15px 0px 15px 15px;
    line-height: normal;
    position: relative;
    text-decoration: none;
} 
.halo-collection-content .wrapper-content .section_1 .widget .widget-content ul .sidebar-link-lv1  a:hover{
    color: blue;
}

.halo-collection-content .wrapper-content .section_1 .widget .widget-content ul .sidebar-link-lv1 .count-pr-ft{
color: rgb(149,145,145);
} */

.collection-template .wrapper-content {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}

.collection-template .wrapper-content .section_2 {
    width: 100%;
}

.collection-template .collection-image {
    margin-bottom: 30px;
}

.collection-template .collection-des .rte {
    line-height: 22px;
    font-size: 12px;
}

.sidebar-tags,
.sidebar-banner {
    border-radius: 3px;
}

.list-tags {
    padding: 15px 5px 15px;
}

.list-tags li {
    padding-bottom: 10px;
}

.list-tags li input {
    position: relative;
    top: 2px;
}

.sidebar-filter .widget-content.color .list-tags,
.item-swatch {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 25px 0px 25px;
}

.sidebar-filter .widget-content.color .list-tags li,
.item-swatch li {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 0px;
}

.sidebar-filter .widget-content.color .list-tags li a,
.item-swatch li {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    position: relative;
}

.list-group {
    margin-bottom: 15px;
}

.checkbox_left {
    margin-left: 3px;
}

.checkbox_text {
    margin-left: 22px;
}

.text_bootom {
    color: #999999;
}

.sidebar-filter .widget-content.color .list-tags li:hover {
    border-color: red;
}

.products-grid .grid-item {
    width: 25%;
}

.products-grid .grid-item .wrapper_content {
    padding: 30px 15px;
}

.products-grid .grid-item img {
    max-width: 100%;
}

.grid-item .item-swatch a {
    width: 14px;
    height: 14px;
}

.grid-item .item-swatch li {
    width: 18px;
    height: 18px;
}

.grid-item .product-title {
    font-size: 14px;
    line-height: 22px;
}

.grid-item .price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.grid-item .action {
    text-align: center;
}

.grid-item .action .btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 20px 13px;
    border: 1px solid transparent;
    min-width: 170px;
    max-width: 100%;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #000;
    display: block;
}

.item-swatch {
    padding: 10px 0px 20px;
    margin: 0px;
}

.item-swatch li {
    width: 25px;
    height: 25px;
}

.item-swatch a {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 1px;
    left: 1px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.wrapper_content .product-bottom .product-title {
    text-decoration: none;
    color: rgb(128, 122, 122);
}

.wrapper_content .product-bottom .product-title:hover {
    color: blue;
}

.wrapper_content .action .buttom_add:hover {
    background: blue;
    color: white;
}


/* double 2 */

.sidebar-link-lv1 a {
    color: #2d2d2d;
    font-size: 13px;
}

.sidebar-link-lv1 .count-pr-ft {
    color: #999999;
    font-weight: normal;
}

.sidebar-link-lv1 a:hover {
    color: blue;
}


/* end shopify-section */


/* end appliances */


/* start page 3 */

.wrapper-container .thumb a img {
    margin-left: 30px
}

.wrapper-container .product_top {
    display: flex;
    flex-wrap: nowrap;
}

.product-shop {
    margin-left: 162px;
    margin-top: 45px;
}

.product-shop .product-title {
    color: rgb(51, 48, 48);
}

.wrapper-container .product-infor .feature-list {
    font-size: 14px;
    margin-top: 30px;
    list-style-type: circle;
    padding-left: 18px;
    padding-bottom: 20px
}

.wrapper-container .product-infor .feature-list li {
    padding: 3px 0px;
}

.wrapper-container .prices {
    font-size: 25px;
    font-weight: 700;
    padding: 30px 0px;
    border-top: 1px solid #ccc;
    color: rgb(51, 45, 45);
}

.wrapper-container .buy p {
    font-size: 16px;
    font-weight: 700;
    color: rgb(66, 58, 58);
}

.wrapper-container .buy p:hover {
    color: white;
    background: #326ee9;
}

.wrapper-container .header {
    font-weight: 600;
    color: rgb(50, 46, 46);
    padding-bottom: 10px;
}

.wrapper-container .header em {
    color: red;
    font-size: 14px;
}

.wrapper-container .color div a {
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;
    border: 1px solid #735b5b;
}

.wrapper-container .color {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.wrapper-container .color div {
    padding-right: 15px;
}

.wrapper-container .color div a:hover {
    border: 2px solid red;
}

.wrapper-container .secure-shopping-guarantee {
    margin: 30px 0px
}

#main-content {
    border-top: 1px solid #ccc;
    margin: 30px 0px;
    border-bottom: 1px solid #ccc;
}

.box-title {
    font-size: 18px;
    color: #2d2d2d;
    margin-bottom: 0px;
}

.widget-product .draggable {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.specifications {
    margin: 50px 0px;
}

.specifications .specifications_container {
    display: flex;
    flex-wrap: wrap;
}

.specifications .specifications_container .specifications_left {
    width: 40%;
    margin-left: 155px;
}

.specifications .text_top {
    text-align: center;
    font-size: 18px;
    color: #011e41;
}

.specifications .specifications_container .specifications_left .text_left {
    font-size: 22px;
    color: #011e41;
}

.specifications_right .text_left {
    font-size: 16px;
    color: #011e41;
}

.specifications_right .dowload span {
    padding-bottom: 15px;
    display: block;
}

.specifications .specifications_container .specifications_left .title {
    font-weight: 200;
    color: #011e41;
    border-bottom: 1px solid rgb(77, 73, 73);
    height: 30px;
}

.specifications .specifications_container .specifications_left .content-category {
    list-style-type: none;
}

.specifications .specifications_container .specifications_left .content-category .content-item {
    font-size: 16px;
    font-weight: 600;
    color: #011e41;
    margin-bottom: 10px;
}

.specifications_right {
    margin-left: 40px;
}

.specifications_right .dowload a {
    text-decoration: none;
    color: rgb(102, 96, 96);
}

.specifications_right .dowload a:hover {
    color: #011e41;
    font-weight: 600;
}

.specifications .text_bootom {
    text-align: center;
}

.specifications .text_bootom a {
    text-decoration: none;
}

.specifications .text_bootom a h3:hover {
    color: #0b2b51;
}

.specifications .text_bootom a h3 {
    color: #415062;
    font-weight: 550;
    font-size: 12px;
}


/* :end page 3 */


/* end login_account */

.wrapper_login {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.wrapper_login .login_lep {
    width: 50%;
}

.wrapper_login .login_right {
    width: 50%;
}

.wrapper-container .page-header h2 {
    margin-top: 20px;
    color: rgb(39, 38, 38);
}

.wrapper-container .wrapper .box-title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2d2d2d;
    margin-bottom: 14px
}

.wrapper-container .wrapper .title {
    color: rgb(92, 86, 86);
    margin: 20px 0px;
}

.wrapper-container .form-group .text_top .text {
    font-size: 11px;
    font-weight: 700;
    line-height: 30px;
    color: #8d8888;
    margin-bottom: 6px;
}

.wrapper-container .form-group .text_top em {
    color: #f1152f;
    font-weight: 500;
    font-style: normal;
    margin-left: 4px;
}

.wrapper-container .form-group .text_1 {
    border: 1px solid #ccc;
    color: #3c3c3c;
    border-radius: 3px;
    width: 100%;
    max-width: 470px;
    padding: 12px 15px;
}

.wrapper-container .action-btn .submit_1 {
    font-weight: 700;
    margin: 30px 0px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: rgb(75, 70, 70);
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    max-width: 220px;
}

.submit_1.a {
    max-width: 129px!important;
}

.wrapper-container .action-btn .submit_1.b {
    background: #2a5ee1;
    color: white;
}

.wrapper-container .action-btn .submit_1.b:hover {
    color: rgb(60, 59, 59);
    background: white;
}

.wrapper-container .action-btn .submit_1.a:hover {
    color: white;
    background: #2a5ee1;
}

.action-btn .last .a1 {
    text-decoration: none;
    color: rgb(119, 117, 117);
}

.action-btn .last .or_text {
    color: rgb(119, 117, 117);
}

.action-btn .last .a2 {
    color: rgb(124, 104, 213);
}

.animation-scale span {
    overflow: hidden;
    display: block;
}

.animation-scale img {
    transition: transform 1s;
    overflow: hidden
}

.animation-scale:hover img {
    transform: scale3d(1.1, 1.1, 1);
}


/* satrt login_account */


/* :start Intoduce */

.wrapper-body.introduce.yourself .text_title {
    text-align: center;
    font-size: 16px;
    color: rgb(45, 42, 42);
    margin: 30px 0px;
}

.wrapper-body.introduce.yourself .text_left {
    font-size: 14px;
    font-weight: 600;
    color: rgb(33, 32, 32);
    padding: 30px 0px
}

.wrapper-body.introduce.yourself .text_button {
    font-weight: 600;
    color: rgb(62, 59, 59);
}

.footter_botton.a {
    background: white;
}


/* end Intoduce */


/* boostrap 4.0 */

.btn_dow {
    background-color: white;
    padding-right: 70px;
}

.btn_color {
    font-weight: 700;
    font-size: 14px;
    padding: 5px 40px;
}

.sile_show {
    margin: 60px 0px;
}

.hr_botom {
    margin-top: 70px;
}

.btn_head {
    padding: 10px 60px;
    margin-top: 20px;
    font-weight: 700;
}

.icon_bootrap {
    margin-left: 300px;
}

.icon_mid {
    margin-left: 343px;
}

.icon_bootom {
    margin-left: 279px;
}

.footter_botton.a {
    background: white;
}

.footter_botton {
    background: rgba(204, 204, 204, 0.31);
}

.footter_botton .end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px;
    color: #959595;
}

.footter_botton .end a {
    color: #959595;
}

.footter_botton .end .gmail {
    padding-left: 30px;
    padding-top: 9px;
}

.jumbotron {
    cursor: zoom-in;
}

.wrap_icon {
    padding-top: 30px;
}

.groups-cart-text {
    display: inline-block;
}

.badge_top {
    padding: 3px 9px;
}

.text_bottom {
    display: block;
}

.color_icon {
    color: white;
}

.color_icon:hover {
    color: white;
}

.Multiple_bars {
    margin-top: 40px;
}

.dropdown_cart .wrapper_cart .cart_item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 15px;
}

.dropdown_cart .wrapper_cart .cart_item .product-title {
    width: 50%;
    color: #332424;
    font-size: 15px;
}

.dropdown_cart .wrapper_cart .cart_item .price {
    width: 15%;
    font-size: 15px;
}

.dropdown_cart .wrapper_cart .cart_item .quantity {
    width: 25%;
}

.dropdown_cart .wrapper_cart .cart_item .xoa {
    width: 10%;
    font-size: 15px;
}

.dropdown_cart .wrapper_cart .btn_xoa {
    font-size: 15px;
}

.wrap_icon .groups-cart-text .cartCount {
    margin-bottom: 0px;
}

.img_onclick {
    margin-top: 10px;
}

#imghien {
    margin-top: 30px;
}

#ip_left {
    padding-left: 40px;
}

#mrg_time {
    padding-left: 50px;
    color: #4e6f80;
    font-weight: 700;
}

#next_img {
    padding-left: 190px;
    padding-top: 50px;
}

.buy_item {
    padding-top: 20px;
}

#add_java {
    font-weight: 600;
    padding: 10px 54px
}

.minus_btn {
    width: 50px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 3px 0px 0px 3px;
    padding: 6px 11px;
}

.middle_btn {
    width: 80px;
    height: 40px;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 32px;
}

.color {
    display: flex;
}

.minus_btn_two {
    width: 50px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 0px 3px 3px 0px;
    padding: 6px 12px;
}

.text_top_icon {
    padding-bottom: 10px;
}

#by_java {
    font-weight: 500;
    font-size: 18px;
}

.product-photos {
    width: 50%;
}

.wrapper-container .thumb img {
    width: 100%;
    padding: 0;
}

.slider-nav {
    padding: 0 50px;
    margin-bottom: 22px;
}

.slider-nav .slick-arrow {
    top: 35px;
}

.slider-nav .slick-arrow svg {
    width: 30px;
    height: 30px;
}

.slider-nav .item.slick-current img {
    border: 1px solid #000;
}

.slider-nav .slick-arrow.slick-next {
    right: 20px;
}

.slider-nav .item img {
    width: 100px!important;
    height: 100px!important;
}

.slider-nav .slick-arrow.slick-prev {
    left: -20px;
    text-align: left;
}

.slider-nav .slick-dots {
    bottom: -45px
}

.slider-for {
    margin-bottom: 30px;
}

.page-header.header-title {
    padding: 20px 0px;
}

#wrapperInfo_bootom .title_info {
    text-align: center;
    padding: 40px;
}

#wrapperInfo_bootom .info {
    border: 1px solid #ccc;
    margin: 0px 70px;
}

#wrapperInfo_bootom .info .common_attributes {
    padding: 10px 79px;
    font-size: 16px;
    border-right: 1px solid #ccc;
    display: inline-block;
}

#wrapperInfo_bootom .info .satrt_table {
    padding: 10px 29px;
}

#wrapperInfo_bootom .info .end_table {
    border-right: 0px solid #ccc;
}

.wrapper-container .form-group .text_1:hover {
    border-color: #1dbfaf;
}


/* .form_message{
        padding: 10px 0 0 10px;
         color: #de1212;
     }
     .err_border{
         border-color: #de1212 !important;
     } */

.form-group.invalid .text_1 {
    border-color: #f33a58;
}

.form-group.invalid .form_message {
    color: #f33a58;
    padding: 10px 0 0 10px;
}

#shopCarts .box-title {
    background: #f7f7f7;
    padding: 20px 50px 1px 50px;
    font-weight: 300;
}

.wrap_contents .name_product {
    color: rgb(63, 63, 207);
    font-size: 16px;
    padding: 10px 0px;
}

.wrap_contents .cart-details {
    font-size: 16px;
    padding: 10px 0px
}

.wrap_contents .group-action .update_cart {
    margin: 0px 30px;
}

.wrap_contents .group-action .btn_cart {
    font-size: 13px;
    padding: 10px 19px;
}

.wrap_contents .quantity label {
    padding: 15px 0px;
}

.cart-list {
    list-style-type: none;
}

.total {
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

#shopCarts .add-comments {
    width: 100%;
    padding: 30px 25px 10px 0px;
}

#input-full {
    border: 1px solid #ccc;
}

#shopCarts .terms_conditions {
    padding: 20px 0px
}

#shopCarts .disagree_conditions {
    padding: 10px 46px;
    font-size: 15px;
    font-weight: 700;
}

#shopCarts #shipping-calculator {
    padding: 35px 0px 10px 0px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

#shopCarts .special-select {
    margin: 20px 0px;
    width: 250px;
    font-size: 14px;
}

#shopCarts .shipping {
    width: 150px;
    height: 50px;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

#shopCarts .btn_adInfo {
    font-weight: 600;
    padding: 10px 0px;
}

#shopCarts .continue_cart {
    padding: 30px 0px;
    margin-top: 55px;
}

#shopCarts .product-img img {
    width: 150px;
}

#shopCarts .wrap_icon {
    border-bottom: 1px solid #cccc;
    padding: 50px 0px;
}

#render_product {
    font-size: 16px;
}

#render_product .disable {
    display: none;
}